<!-- Favoris -->

<div class="favoris">
    <div class="title">
        <h2>Favoris</h2>

        <div>
            
            <button class="delete" id="btn-favoris-supprimer">X</button>
        </div>
    </div>

    <div class="favoris__liens" id="favori">
        
        <% for (const favori of favoris) { %>

            <a class="favoris__liens--card" target="_blank" href="<%= favori.lien %>">
                <%= favori.titre %><img src="https://www.google.com/s2/favicons?domain=<%= favori.lien %>"
                        alt="Logo <%= favori.titre %>" class="card__image">
            </a>

            <% } %>

    </div>

    <!-- Modal supprimer-->
    <div class="modal-container" id="modal-favoris-supprimer">
        <div class="overlay modal-trigger"></div>

        <div class="modal" role="dialog" aria-labelledby="modalTitle">
            <button class="close-modal modal-trigger" aria-label="favoris">X</button>

            <form class="favoriForm" action="" id="favoris-supprimer">
                <% for (const favori of favoris) { %>
                    <div class="favoriForm__favori">
                        
                        <span><%= favori.titre %></span><button class="delete" id="btn-delete-favori"
                            onclick="handleDelete('<%= favori.id %>', '/delete-favori/', this.parentNode)">Supprimer</button>

                    </div>
                    <% } %>

            </form>

        </div>
    </div>
    <!-- Modal fin -->

    <!-- modal favoris -->

    <div class="modal-container" id="modal-favoris">
        <div class="overlay modal-trigger"></div>

        <div class="modal" role="dialog" aria-labelledby="modalTitle">
            <button class="close-modal modal-trigger" aria-label="favoris">X</button>

            <form id="new-favori" class="favoris__nouvelle" action="/ajoutfavori" method="post">

                <span class="text-center">Nouveau favori</span>

                <div class="connexion__test">
                    <input class="favoris__nouvelle__texte" type="text" name="titreLien" id="favori-name" required>
                    <label for="name-lien" class="favoris__nouvelle__title">Titre du lien</label>
                </div>

                <div class="connexion__test">
                    <input class="favoris__nouvelle__texte" type="url" name="lien" id="favori-url" required>
                    <label for="favoris" class="favoris__nouvelle__title">Ajouter un lien</label>
                </div>

                <button type="submit" class="btn btn-valider">Ajouter lien aux favoris</button>

            </form>

        </div>
    </div>
    <button class="btn btn-valider" id="btn-favoris">Ajouter un favori</button>
</div>