<!-- Rendez-vous -->

<div class="rdv">

    <div class="rdv__encours" id="rdv-tbody">
        <% if (typeof errorRdv !=='undefined' ) { %>
            <div class="form__error" role="alert">
                <%= errorRdv %>
            </div>
            <% } %>
        <table class="tableaurdv">
            <thead>

                <tr>
                    <th>RDV</th>
                    <th>LIEU</th>
                    <th>DATE</th>
                    <th>HEURE</th>
                </tr>

            </thead>
            <tbody>
                <% for (const rdv of rdvs) { %>
                    <tr class="rdv-tr">
                        <th class="rdv__encours__th">
                            <%= rdv.nom %>
                        </th>
                        <th class="rdv__encours__th">
                            <%= rdv.lieu %>
                        </th>
                        <th class="rdv__encours__th">
                            <%= rdv.date %>
                        </th>
                        <th class="rdv__encours__th">
                            <%= rdv.heure %>
                        </th>
                        <th><button class="delete"
                                onclick="handleDelete('<%= rdv.id %>', '/delete-rdv/', this.parentNode.parentNode)">X</button>
                        </th>
                    </tr>
                    <% } %>
            </tbody>
        </table>
    </div>

    <!-- modal rendez-vous -->

    <div class="modal-container" id="modal-rdv">
        <div class="overlay modal-trigger"></div>

        <div class="modal" role="dialog" aria-labelledby="modalTitle">
            <button class="close-modal modal-trigger" aria-label="note">X</button>

            <form id="new-rdv" action="/ajoutrdv" method="POST">

                <span class="text-center">Nouveau rendez-vous</span>

                <div class="connexion__test">
                    <input type="text" name="nom" id="rdvNom" required>
                    <label for="nom">Nom</label>
                    <span class="compteur-span-rdv" id="compteur-nom">0/15</span>
                </div>

                <div class="connexion__test">
                    <input class="rdv__nouveau__input" type="text" name="lieu" id="rdvLieu" required>
                    <label for="lieu">Lieu</label>
                    <span class="compteur-span-rdv" id="compteur-lieu">0/15</span>
                </div>

                <div class="connexion__test">
                    <input class="rdv__nouveau__input" type="text" name="date" id="rdvDate" required>
                    <label for="date">Date</label>
                    <span class="compteur-span-rdv">Format : 01/01/2023</span>
                </div>

                <div class="connexion__test">
                    <input class="rdv__nouveau__input" type="text" name="heure" id="rdvHeure" required>
                    <label for="heure">Heure</label>
                    <span class="compteur-span-rdv">Format : 13:30 </span>
                </div>

                <button type="submit" class="btn btn-valider">Ajouter rendez-vous</button>


            </form>

        </div>

    </div>

    <button class="btn btn-valider" id="btn-rdv">Ajouter un rendez-vous</button>

</div>