<!DOCTYPE html>

<html lang="fr">

<head>

    <%- include("partials/head") %>

</head>

<body>
    <div class="container">

        <header role="banner" class="header">

            <%- include("partials/header") %>

        </header>



        <main>
            <% if (locals.isLogged) { %>


                <%- include("modules/google") %>

                    <div class="widgets">

                        <%- include("modules/note") %>

                            <%- include("modules/favoris") %>

                                <%- include("modules/rdv") %>

                    </div>


                    <% } else  { %>
                        
                            <%- include("partials/connexion") %>
                        
                       
                        <% } %>
                                
        


        </main>

        <footer>
            <% if (locals.isLogged) { %>
            <%- include("partials/footer") %>
            <% } %>

        </footer>

    </div>

</body>

</html>